.category {
  min-height: 100vh;
  background-position: center;
  background-repeat: repeat;
}

.category li{
  margin: 0 10px;
}

.inputCategory input {
  padding: 7px;
  width: 50%;
}

.btn-postCategory {
  background-color: #333;
  color: #fff;
  font-size: 15px;
  padding-top: 3px;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.border-light {
  border: 1px solid #333;
}

.btn-postProducts {
  background-color: #333;
  color: #fff;
  margin: 10px 0;
}

.btn-postCategory, .btn-postProducts {
  box-shadow: 0 3px 5px #333;
}

.category-warning {
  color: rgb(255, 40, 40);
  text-align: left!important;
}
