.bg-landing {
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: url('https://svgshare.com/i/9yC.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-brand-landing {
  color: #fff!important;
  font-weight: bolder;
  width: 50px;;
  text-shadow: 2px 5px 15px rgba(255, 123, 0, 0.5);
}

.mobile-app-rupiah {
  width: 50%;
  height: 10%!important;
}

.landing-text {
  color: #fff;
}

.landing-text p, .landing-text h1 {
  text-shadow: 10px 5px 20px rgb(255, 123, 0);
}

.landing-text h1 {
  font-size: 3em;
  font-weight: bold;
}

.landing-text p {
  font-weight: 500;
}

.link-landing {
  color: #fff!important;
  font-size: 18px;
  background-color: transparent!important;
  padding: 10px 20px!important;
}

.link-landing:hover {
  text-decoration: underline;
  color: #f4f4f4;
}
