.bg-landing {
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: url('https://i.imgur.com/nv0bPJ5.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-brand-landing {
  color: #fff!important;
  font-weight: bolder;
  width: 50px;;
  text-shadow: 2px 5px 15px rgba(255, 123, 0, 0.5);
}

.navbar-toggler-icon {
  margin-right: 0;
  background-image: url('../../assets/tombol-drawer.svg')!important;
  border-color: none!important;
}

.navbar-toggler {
  border-color: #fff!important;
}

.navbar-toggler:active {
  transform: scale(1.5);
  transition: 1s;
  transition-timing-function: ease-out;
  box-shadow: 0px 5px 2px rgb(170, 204, 255, .5);
}

.mobile-app-rupiah {
  width: 50%;
  height: 10%!important;
}

.landing-text {
  color: #fff;
}

.landing-text p, .landing-text h1 {
  text-shadow: 10px 5px 20px rgb(255, 123, 0);
}

.landing-text h1 {
  font-size: 3em;
  font-weight: bold;
}

.landing-text p {
  font-weight: 500;
}

.link-landing {
  color: #fff!important;
  font-size: 18px;
  background-color: transparent!important;
  padding: 10px 20px!important;
}

.link-landing:hover {
  text-decoration: underline;
  color: #f4f4f4;
}

@media screen and (max-width: 768px) {
  .bg-landing .img-laptop {
    display: none;
  }
}
