.header-app{
  min-height: 200px;
  background: url('../../assets/header-background.svg');
  background-position: center;
  background-repeat: repeat-x;
}

@media screen and (max-width: 538px) {
  .header-app {
    display: none;
  }
}

.header-app h1 {
  color: #fff;
  font-weight: bold;
  text-shadow: 5px 5px 5px rgba(152, 152, 152, .2);
  padding-top: 60px;
  font-size: 3em;
}

.logo {
  width: 40px;
}

.navbar-toggler-icon {
  margin-right: 0;
  background-image: url('../../assets/toggle-menu.svg');
}

.navbar-toggler:active {
  transform: scale(1.5);
  transition: 1s;
  transition-timing-function: ease-out;
  box-shadow: 0px 5px 2px rgb(170, 204, 255, .5);
}

.logo-text {
  text-indent: 20px;
  font-size: 1.4em;
  font-weight: bolder;
  text-shadow: 2px 5px 15px rgba(255, 123, 0, 0.5);
}



.navbar-dashboard {
  box-shadow: 0 5px 5px #ddd;
}

.navbar-dashboard, .dropdown-menu{
  background-image: linear-gradient(180deg, #ff9906, #ffb817);
}

.dropdown-item:hover, .nav-link:hover {
  background-color: #ffb817;
  border-radius: 5px;
}

.navbar-dashboard a, .navbar-dashboard ul li {
  color: #fff!important;
}

.dashboard-icon:before {
  content: "\f201";
  font-family: FontAwesome;
  padding: 12px 10px 12px 10px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

.datas:before {
  content: "\f126";
  font-family: FontAwesome;
  padding: 12px 10px 12px 10px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

.transaction:before {
  content: "\f24e";
  font-family: FontAwesome;
  padding: 12px 10px 12px 10px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

.setting:before {
  content: "\f013";
  font-family: FontAwesome;
  padding: 12px 10px 12px 10px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}
