.profile {
  min-height: 100vh;
  background: url('../../assets/dashboard-background.svg');
  background-position: center;
  background-repeat: repeat;
}

.avatar {
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

.img-avatar {
  position: relative;
}

.btn-edit-photo {
  position: absolute;
  bottom: -25%;
  left: 50%;
  margin-left: -23px !important;
  outline: none;
  border: none;
  background-color: #ff9906;
  color: #fff;
  margin: 0;
  border-radius: 60px;
  transition: .5s;
  padding: 10px 12px;
  text-shadow: 3px 3px 3px #ddd;
}

.btn-edit-photo:hover {
  text-decoration: underline;
  cursor: pointer;
  background-color: #ffb817;
}

.btn-postPhoto {
  outline: none;
  border: none;
  background-color: #ffb817;
  color: #fff;
  transition: .5s;
  padding: 10px;
  border-radius: 7px;
}

.btn-postPhoto:hover {
  cursor: pointer;
  background-color: #ff9906;
}

.edit-photo {
  display: none;
}

.profileInput {
  width: 100%;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .profileInput {
    width: 50%;
  }
}

.inputBox {
  margin: 15px auto;
}

.inputBox label {
  text-align: left;
  color: #757575;
  font-size: 17px;
}

.inputBox input, .inputBox textarea {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #757575;
  background-color: transparent;
  transition: .5s;
  -ms-transition: .5s;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
}

.inputBox input:focus, .inputBox textarea:focus {
  border-bottom: 1px solid #ff9906;
}

.profileSubmit {
  padding: 10px;
  width: 50%;
  color: #fff;
  background-color: #ffb817;
  transition: .5s;
}

.profileSubmit:hover {
  background-color: #ff9906;
}

.txtFile {
  background-color: #fff;
  color: #b8b8b8;
}
