.sales-menu {
  min-height: 100vh;
}

.sales-menu li {
  margin: 0 10px;
}

.sales-menu h4 {
  color: #333;
}

.inputSales {
  margin: 10px 0;
}

.inputSales label {
  display: block;
  color: #333;
}

.inputSales input {
  padding: 7px;
  width: 100%;
}

.inputSales select {
  -webkit-padding: 5px;
  width: 100%;
}

@media screen and (max-width: 780px) {
  .inputSales input, .inputSales select {
    width: 100%;
  }

  .sales-menu h4 {
    margin-top: 20px;
    font-size: 1.2em;
  }
}

.btn-addItemSales {
  background-color: #ffc136;
  box-shadow: 0 5px 5px #ccc;
}

.product_amount {
  font-size: 20px;
}

.btn-deleteBuyItem{
  background-color: rgb(244, 47, 47);
  color: #fff;
  padding: 5px;
  margin: auto 10px;
}

.btn-sellItems {
  background-color: rgb(0, 255, 0);
  letter-spacing: 1px;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
}

button:disabled {
  cursor: not-allowed;
}

.total_price {
  padding: 7px;
  width: 50%;
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  text-align: right!important;
  margin-left: auto;
  margin-right: 0!important;
  padding-right: 0!important;
}

.invoice {
  text-align: left !important;
}


.received {
  background-color: rgb(0, 160, 21);
  font-size: 14px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0;
  border-radius: 50px;
  color: #fff;
}
