.stuffs {
  min-height: 100vh;
  background-position: center;
  background-repeat: repeat;
}

.stuffs li {
  margin: 0 10px;
}

.inputDataBox{
  padding: 5px;
}

.form-control {
  display: inline!important;
}

.inputDataBox input{
  width: 50%;
  display: inline!important;
}

.inputUpdateBox input:disabled {
  background-color: #fff;
  outline: none;
  border: 1px solid #ccc;
}

.inputDataBox select {
  width: 50%;
  -ms-padding: 7px;
  display: inline!important;
}

.inputUpdateBox {
  text-align: justify;
  padding-top: 5px;
}

.inputUpdateBox input {
  padding: 7px;
  width: 100%;
}

.inputUpdateBox select {
  width: 100%;
  padding: 7px;
}

.btn-postProducts:disabled {
  cursor: not-allowed;
}

.btn-detailProducts {
  background-color: #ffc136;
  box-shadow: 0 5px 5px #ccc;
}

.btn-success {
  background-color: #ffc136!important;
}

.btn-danger {
  background-color: rgb(249, 48, 48)!important;
  color: #fff!important;
}
