.supplier {
  min-height: 100vh;
}

.supplier li {
  margin: 0 10px;
}

.btn-detailSuppliers {
  background-color: #ffc136;
  box-shadow: 0 2px 5px #ddd;
  transition: .5s ease-in-out;
  position: relative;
  color: #333;
  box-shadow: 0 5px 5px #ccc;
}

.btn-detailSuppliers:hover {
  background-color: #ffc84d;
}

.btn-postSuppliers {
  background-color: #333;
  color: #fff;
  box-shadow: 0 3px 5px #333;
  box-shadow: 0 5px 5px #ccc;
  margin: 10px 0;
}

.btn-postSuppliers:disabled {
  cursor: not-allowed;
}

.address {
  padding: 10px;
}
