thead {
  background-color: #ff9906;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

th {
  margin: auto auto!important;
  vertical-align: middle!important;
}

tr {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

td {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px!important;
}

.thead-purchases {
  background-color: transparent!important;
  color: #333;
}
