body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f4f4f4;
  font-family: 'Bree Serif', serif;
}

.btn-addDatas {
  padding: 7px;
  background-color: #ffc136;
  color: #333;
  box-shadow: 0 5px 5px #ccc;
  transition: .5s;
}

.btn-addDatas:hover {
  background-color: #fbc650;
}
