body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f4f4f4;
  font-family: 'Bree Serif', serif;
}

.btn-addDatas {
  padding: 7px;
  background-color: #ffc136;
  color: #333;
  box-shadow: 0 5px 5px #ccc;
  transition: .5s;
}

.btn-addDatas:hover {
  background-color: #fbc650;
}

.second-header {
  display: none;
  color: #ff9906;
}

.second-header hr {
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #ff9906, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #ff9906, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #ff9906, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #ff9906, #f0f0f0);
}

@media screen and (max-width: 538px) {
  .second-header {
    display: block;
  }
}
